.a{
    background-color: skyblue;
    color: white;
}
.b{
    background-color: #eba9e5;
    padding-bottom: 160px;
    color: white;
}
.c{
    background-color: rgba(121, 232, 121, 0.612);
    padding-bottom: 240px;
    color: white;
}
.d{
    background-color: rgb(207, 172, 15);
    padding-bottom: 220px;
    color: white;
}
.e{
    background-color: rgba(128, 128, 128, 0.747);
    padding-bottom: 115px;
    color: white;
}
.f{
    background-color: green;
    color: white;
}
.g{
    background-color: #eba9e5;
    color: white;
}
.h{
    background-color: orangered;
    color: white;
}